<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>PolyChat</title>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"> </script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
    <script>
    
        
        var xhr = new XMLHttpRequest();

        setInterval(sdad, 500)
        setInterval(gett, 500)

        var a = "";


        function gett() {
            if (xhr.responseText != " " && xhr.responseText != a && xhr.responseText != "") {
                output(xhr.responseText);
                a = xhr.responseText;
            }
        }

        function sdad() {
            xhr.open('GET', 'http://pyserverchat.std-864.ist.mospolytech.ru/ismessage', false);
            xhr.send();
        }

        function Send() {

            var input = document.getElementById("input");
            var text = input.value;

            if (text != " " && text != "") {
                xhr.open('GET', 'http://pyserverchat.std-864.ist.mospolytech.ru/sendMessage?text=' + text, false);
                xhr.send();
            }
            document.getElementById('input').value = "";
        }

        function output(message) {
            var output = document.getElementById("output");
            output.value += "Пользователь написал: " + message + "\n";
            if (output.selectionStart == output.selectionEnd) {
                output.scrollTop = output.scrollHeight;
            }


        }



        $(document).ready(function() {


            $("#output").change(function() {
                scrollToBottom();
            });


            $('input').keydown(function(e) {
                if (e.keyCode === 13) {
                    Send();
                }
            });


            $('#temp').hide();

            function scrollToBottom() {
                $('#output').scrollTop($('#output')[0].scrollHeight);
            }


            $('.btn-hide').on('click', function() {
                $('#cont1').slideToggle(700);
                $('#temp').show();

            });


            $('#temp').on('click', function() {
                $('#cont1').slideToggle(700);

                $('#temp').hide();


            });


        });

        
    
    
    </script>
    <style>
    
    
        #cont1 {
            margin-top: 4px;
        }

        #send {
            width: 90px;
            margin: 0;
        }

        #output {
            /*            width: 600px;*/
            height: 400px;
            padding: 6px;
        }
        
        #input, #output
        {
            font-family: 'Roboto', sans-serif;
        }
        
        
        
    
    </style>
</head>


<body>

    <div class="container" id="cont1">
        <div class="chat-window">
            <div class="row" style="font-family: 'Lobster', cursive; font-size: 22px;">
                <img src="images/polytech.png" alt="" height="30">
                PolyChat
            </div>

            <div class="row">
                <textarea style="resize: none;" class="border border-success col-lg-6 col-sm-12" id="output" readonly></textarea>
            </div>

            <div class="row">
                <input class="border border-primary col-lg-6 col-sm-12" placeholder="Напишите сообщение" id="input" />
            </div>

            <div class="row">
                <input type="button" class="btn btn-info btn-hide col-lg-2 col-sm-6 col-6" value="Скрыть чат">
                <div class="col-lg-2 col-sm-2 col-2 "></div>
                <input class="btn btn-success btn-send col-lg-2 col-sm-4 col-4 " type="submit" id="send" value="Send" onclick="Send();" />
            </div>

        </div>

    </div>
    <div class="container">
        <div class="row">
            <input type="button" id="temp" class="btn btn-info col-lg-2 col-sm-4 col-6" value="Показать чат">
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
