
        #cont1 {
            margin-top: 4px;
        }

        #send {
            width: 90px;
            margin: 0;
        }

        #output {
            /*            width: 600px;*/
            height: 400px;
            padding: 6px;
        }
        
        #input, #output
        {
            font-family: 'Roboto', sans-serif;
        }