<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style2.css') }}">
</head>

<body scroll="no" style="overflow: hidden">
  <nav class="navbar navbar-expand-lg d-flex navStyle">
    <div class="collapse d-flex  navbar-collapse d-flex justify-content-center" id="mainMenu">
      <div class="test">
      </div>

      <ul class="navbar-nav  navList ">
        <li class="nav-item"><a href="/" class="nav-link"><i class="fas fa-home"></i>HOME</a></li>
        <li class="nav-item" type="button"><a class="nav-link btn-hide" id="btn"><i class="fas fa-users"></i>Chat</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight bg-primary d-flex" id="screen">Stream</div>
    <div class="p-2 bd-highlight" id="Create" style="width: 20%;">
      <div style="padding: 0px 15px 0px 15px !important;">
        <div class="row d-flex justify-content-center ">
          <div id="output" style="height: 85vh; padding: 100px 15px 0px 15px !important;"
            class="message_holder overflow-auto  alert mb-0">
          </div>
        </div>
        <div class="form-control  ">
          <form action="" method="POST">
            <input type="text" style="width: 100%;" class="message" placeholder="Messages" />
            <input style="width: 0px; visibility: hidden; " id="as" type="submit">
          </form>
        </div>
      </div>

    </div>
  </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scriptus.js') }}"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    function scrollToBottom() {
      $('#output').scrollTop($('#output')[0].scrollHeight);
    }
    $("#output").change(function () {
      scrollToBottom();
    });
    $("#btn").click(function () {
      $("#Create").toggle();
    });
  });
</script>
</html>

<script>
  $('div.test').append('<a class="navbar-brand text-white"> Session\'s ID: ' + window.location.pathname.substr(1) +
    '</a>')
</script>